body { background-color: #FFCCFF }
a:hover { color: red }
.title { 
  margin-left: auto; 
  margin-right: auto; 
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
}
.title th { 
  background-color: #FF00FF;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
th { background-color: #ef8429;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
}
td { font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
}
legend {
  font-weight: bold;
  color: black;
  background-color: #eeeeee;
  border: 1px solid #999999;
  padding: 3px 2px;
}
.ajaxResult { color: #440000;
              font-weight: bold;
              font-size: 18px;
              font-family: Arial, Helvetica, sans-serif;
}
h2 { color: #440000;
	  font-weight: bold;
	  font-size: 18px;
	  font-family: Arial, Helvetica, sans-serif;
}
.error { background-color: yellow;
	      color: red;
	      font-weight: bold;
	      font-size: 20px;
	      font-family: Arial, Helvetica, sans-serif;
	      border-style: inset;
}


#nap7{
	left:283px;
	top:110px;
	width:152px;
	height:43px;
	z-index:1;
	font-size: 40px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#085394;
}
	
	

#nap1{
	left:437px;
	top:121px;
	width:115px;
	height:43px;
	z-index:1;
	font-size: 40px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#085394;
}
	
#nap2{
	left:663px;
	top:121px;
	z-index:2;
}

#nap2.napkee {
	width:122px;
	height:35px;
	color:#FFFFFF;
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap3{
	left:278px;
	top:203px;
	z-index:3;
}

#nap3.napkee {
	width:417px;
	height:34px;
	color:#000000;
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap4{
	left:278px;
	top:252px;
	z-index:4;
}

#nap4.napkee {
	width:417px;
	height:34px;
	color:#000000;
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap5{
	left:278px;
	top:301px;
	z-index:5;
}

#nap5.napkee {
	width:417px;
	height:34px;
	color:#000000;
	font-size: 16px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}

	
#nap6{
	left:278px;
	top:350px;
	z-index:6;
}

#nap6.napkee {
	width:417px;
	height:75px;
	color:#000000;
	font-size: 20px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap8{
	left:109px;
	top:153px;
	width:365px;
	height:221px;
	z-index:2;
}
	
#nap9{
	left:169px;
	top:389px;
	width:46px;
	height:44px;
	z-index:3;
	border:0px solid;
}

#nap9table{
	left:169px;
	top:389px;
	width:46px;
	height:44px;
	z-index:4;
	display:none;
}

#nap9label{
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap10{
	left:222px;
	top:389px;
	width:46px;
	height:44px;
	z-index:4;
	border:0px solid;
}

#nap10table{
	left:222px;
	top:389px;
	width:46px;
	height:44px;
	z-index:5;
	display:none;
}

#nap10label{
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap12{
	left:322px;
	top:389px;
	width:46px;
	height:44px;
	z-index:5;
	border:0px solid;
}

#nap12table{
	left:322px;
	top:389px;
	width:46px;
	height:44px;
	z-index:6;
	display:none;
}

#nap12label{
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap13{
	left:374px;
	top:389px;
	width:46px;
	height:44px;
	z-index:6;
	border:0px solid;
}

#nap13table{
	left:374px;
	top:389px;
	width:46px;
	height:44px;
	z-index:7;
	display:none;
}

#nap13label{
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap14{
	left:505px;
	top:114px;
	z-index:7;
}

#nap14.napkee {
	width:122px;
	height:35px;
	color:#FFFFFF;
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}

#nap3{
	left:234px;
	top:129px;
	width:522px;
	height:21px;
	z-index:1;
	font-size: 18px;
	font-style:italic;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	color:#085394;
}
	
#nap8{
	left:228px;
	top:347px;
	z-index:2;
}

#nap8.napkee {
	width:122px;
	height:35px;
	color:#FFFFFF;
	font-size: 14px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap9{
	left:634px;
	top:347px;
	z-index:3;
}

#nap9.napkee {
	width:122px;
	height:35px;
	color:#FFFFFF;
	font-size: 14px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
}

	
#nap11{
	left:234px;
	top:175px;
	width:151.8px;
	height:24px;
	z-index:4;
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	color:#073763;
}
	
#nap12{
	left:234px;
	top:220px;
	width:157.3px;
	height:24px;
	z-index:5;
	font-size: 16px;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	text-align:left;
	color:#073763;
}
	
#nap13{
	left:426px;
	top:174px;
	width:266px;
	z-index:6;
	background-color:#FFFFFF;
	color:#000000;
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap14{
	left:426px;
	top:214px;
	width:266px;
	z-index:7;
	background-color:#FFFFFF;
	color:#000000;
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
}
	
#nap15{
	left:580px;
	top:244px;
	width:112px;
	height:18px;
	z-index:8;
	font-size: 12px;
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
	
#nap16{
	left:475px;
	top:244px;
	width:77px;
	height:18px;
	z-index:9;
	font-size: 12px;
	font-style:italic;
	font-weight:normal;
	text-decoration:underline;
}
	
#nap17{
	left:423px;
	top:276px;
	width:270px;
	z-index:10;
	font-size: 14px;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}
	
#nap18{
	left:228px;
	top:416px;
	z-index:11;
}
#nap18dp{
	width:124px;
	z-index:11;
}
	
	